$primary-color: #333;
$secondary-color: #031927;
$button-color: #BA1200;
$background-color: #eee;
$color-font-light: #dc5142;
$light-color: #D7CDCC;

// Overlay
$color-overlay-1: rgba(0, 0, 0, 0.1);
$color-overlay-2: rgba(0, 0, 0, 0.2);
$color-overlay-3: rgba(0, 0, 0, 0.3);
$color-overlay-4: rgba(0, 0, 0, 0.4);
$color-overlay-5: rgba(0, 0, 0, 0.5);
$color-overlay-6: rgba(0, 0, 0, 0.6);
$color-overlay-7: rgba(0, 0, 0, 0.7);
$color-overlay-8: rgba(0, 0, 0, 0.8);
$color-overlay-9: rgba(0, 0, 0, 0.9);

// Social media
$color-social-facebook: #486cb2;
$color-social-twitter: #69c8ed;
$color-social-google: #da2713;
$color-social-pinterests: #cb2028;
$color-social-instagram: #e1306c;