@import 'variables';
@import 'reset';
@import 'utility';
@import 'header';
@import 'showcase';

body {
    font-family: Helvetica, sans-serif;
    background: $background-color;
    position: relative;
}